.front {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.8)),
    url("resources/geothermal.webp") no-repeat center center fixed;
}
.subHead {
  padding-top: 6.4rem;
}
.first {
  padding-top: 0;
}
