.header {
  background: hsl(213, 96%, 18%);
  color: #fff;
  padding: 0.5rem;
  text-align: center;
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  height: 6.4rem;
  font-size: 1.6rem;
}
.mainIcon {
  /* border-radius: 50%; */
  /* background: #fff; */
  /* margin: 0 10px; */
  height: calc(100%);
}
.links {
  display: flex;
  justify-content: space-evenly;
  width: 35%;
}
.iconImage {
  height: calc(100%);
  padding: 0 0 0 2.4rem;
}
